In [21]:
import pandas as pd
import numpy as np
from sqlalchemy.orm import session
from sqlalchemy import create_engine

from datetime import datetime, timedelta
import pytz # new import

import gc

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.neighbors import KNeighborsRegressor

from sklearn.preprocessing import MinMaxScaler

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt

# Data preparation

In [22]:
data = pd.read_csv("fina_data.csv")

In [23]:
data.head()

,timestamp,device_name,current(A),power_factor,temperature(?),voltage(V)
0,07/04/2018 04:00,Lavaloza,0.0,NaN,12.2,NaN
1,07/04/2018 04:15,Lavaloza,0.0,NaN,12.2,NaN
2,07/04/2018 04:30,Lavaloza,0.0,NaN,12.2,NaN
3,07/04/2018 04:45,Lavaloza,0.0,NaN,12.2,NaN
4,10/04/2018 05:00,Lavaloza,0.0,NaN,12.2,NaN

In [24]:
data.rename(columns = {"temperature(?)":"temperature(°C)"}, inplace= True)

In [25]:
data.head()

,timestamp,device_name,current(A),power_factor,temperature(°C),voltage(V)
0,07/04/2018 04:00,Lavaloza,0.0,NaN,12.2,NaN
1,07/04/2018 04:15,Lavaloza,0.0,NaN,12.2,NaN
2,07/04/2018 04:30,Lavaloza,0.0,NaN,12.2,NaN
3,07/04/2018 04:45,Lavaloza,0.0,NaN,12.2,NaN
4,10/04/2018 05:00,Lavaloza,0.0,NaN,12.2,NaN

In [26]:
data["timestamp"] = pd.to_datetime(data["timestamp"])

In [27]:
data.iloc[0,0]

Timestamp('2018-07-04 04:00:00')

In [28]:
#Get other time data
data["hour"] = data["timestamp"].apply(lambda x: x.time().hour)
data["minute"] = data["timestamp"].apply(lambda x: x.time().minute)
data["time"] = data["hour"] + data["minute"]/60
data["weekday"] = data["timestamp"].apply(lambda x: x.weekday())
data["month"] = data["timestamp"].apply(lambda x: x.month)
data.head()

,timestamp,device_name,current(A),power_factor,temperature(°C),voltage(V),hour,minute,time,weekday,month
0,2018-07-04 04:00:00,Lavaloza,0.0,NaN,12.2,NaN,4,0,4.00,2,7
1,2018-07-04 04:15:00,Lavaloza,0.0,NaN,12.2,NaN,4,15,4.25,2,7
2,2018-07-04 04:30:00,Lavaloza,0.0,NaN,12.2,NaN,4,30,4.50,2,7
3,2018-07-04 04:45:00,Lavaloza,0.0,NaN,12.2,NaN,4,45,4.75,2,7
4,2018-10-04 05:00:00,Lavaloza,0.0,NaN,12.2,NaN,5,0,5.00,3,10

In [29]:
# Separate Main from devices
main_df = data[data["device_name"] == "Interruptor Principal"]
devices_df = data[data["device_name"] != "Interruptor Principal"]
del data
gc.collect()

7

In [30]:
main_df.head()

,timestamp,device_name,current(A),power_factor,temperature(°C),voltage(V),hour,minute,time,weekday,month
338340,2018-01-04 07:00:00,Interruptor Principal,36.43,0.95,12.0,127.0,7,0,7.00,3,1
338341,2018-01-04 07:15:00,Interruptor Principal,37.57,0.95,12.0,127.0,7,15,7.25,3,1
338342,2018-01-04 07:30:00,Interruptor Principal,31.58,0.95,12.0,127.0,7,30,7.50,3,1
338343,2018-01-04 07:45:00,Interruptor Principal,30.18,0.95,12.0,127.0,7,45,7.75,3,1
338344,2018-01-04 11:00:00,Interruptor Principal,117.65,0.95,15.9,127.0,11,0,11.00,3,1

In [31]:
devices_df.head()

,timestamp,device_name,current(A),power_factor,temperature(°C),voltage(V),hour,minute,time,weekday,month
0,2018-07-04 04:00:00,Lavaloza,0.0,NaN,12.2,NaN,4,0,4.00,2,7
1,2018-07-04 04:15:00,Lavaloza,0.0,NaN,12.2,NaN,4,15,4.25,2,7
2,2018-07-04 04:30:00,Lavaloza,0.0,NaN,12.2,NaN,4,30,4.50,2,7
3,2018-07-04 04:45:00,Lavaloza,0.0,NaN,12.2,NaN,4,45,4.75,2,7
4,2018-10-04 05:00:00,Lavaloza,0.0,NaN,12.2,NaN,5,0,5.00,3,10

In [32]:
devices_df.drop(columns = ["power_factor", "voltage(V)", "hour","time", "weekday", "month", "temperature(°C)","minute"], inplace =True)

In [33]:
devices_df.head()

            timestamp device_name  current(A)
0 2018-07-04 04:00:00    Lavaloza         0.0
1 2018-07-04 04:15:00    Lavaloza         0.0
2 2018-07-04 04:30:00    Lavaloza         0.0
3 2018-07-04 04:45:00    Lavaloza         0.0
4 2018-10-04 05:00:00    Lavaloza         0.0

In [36]:
devices_df = pd.pivot_table(devices_df, index= "timestamp", columns = "device_name", values = "current(A)",
                            aggfunc="mean")\
                            .reset_index().sort_values(by = "timestamp", ascending =True).fillna(0)

In [37]:
devices_df.head()

device_name,timestamp,Lavaloza,Tablero A,Tablero B,Tablero C,Tablero D,Tablero E
0,2018-01-04 00:00:00,0.0,11.50,34.37,2.19,1.79,1.76
1,2018-01-04 00:15:00,0.0,3.47,26.89,2.27,1.77,1.80
2,2018-01-04 00:30:00,0.0,0.00,33.70,2.08,1.19,1.72
3,2018-01-04 00:45:00,0.0,0.00,28.57,3.75,1.48,1.70
4,2018-01-04 01:00:00,0.0,0.00,30.33,2.87,1.45,1.69

In [38]:
main_df.head()

,timestamp,device_name,current(A),power_factor,temperature(°C),voltage(V),hour,minute,time,weekday,month
338340,2018-01-04 07:00:00,Interruptor Principal,36.43,0.95,12.0,127.0,7,0,7.00,3,1
338341,2018-01-04 07:15:00,Interruptor Principal,37.57,0.95,12.0,127.0,7,15,7.25,3,1
338342,2018-01-04 07:30:00,Interruptor Principal,31.58,0.95,12.0,127.0,7,30,7.50,3,1
338343,2018-01-04 07:45:00,Interruptor Principal,30.18,0.95,12.0,127.0,7,45,7.75,3,1
338344,2018-01-04 11:00:00,Interruptor Principal,117.65,0.95,15.9,127.0,11,0,11.00,3,1

# Building the model

In [39]:
devices_to_train = ["Lavaloza", "Tablero A","Tablero B", "Tablero C", "Tablero D", "Tablero E"]
features = list(main_df.columns[2:])

In [40]:
features

['current(A)',
 'power_factor',
 'temperature(°C)',
 'voltage(V)',
 'hour',
 'minute',
 'time',
 'weekday',
 'month']

In [42]:
model_df = pd.merge(left = main_df, right = devices_df, on="timestamp")
del devices_df, main_df
gc.collect()

115

In [43]:
X = model_df[features]
y = model_df[devices_to_train]

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

scaler = MinMaxScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

## Gradient Boosting Regressor

In [59]:
param_grid = {'n_estimators': [50, 60,70, 80, 100],
              'max_depth': [5,6,7],
              'learning_rate':[0.01, 0.1 , 0.3]}
grid = GridSearchCV(GradientBoostingRegressor(), param_grid, verbose=2, n_jobs = -1)

In [60]:
model_best_params = []

In [61]:
# Lavaloza
grid.fit(X_train_scaled, y_train["Lavaloza"].values.reshape(-1,1))
print('The best parameters to use are: ', grid.best_params_)

Fitting 3 folds for each of 45 candidates, totalling 135 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   32.4s
[Parallel(n_jobs=-1)]: Done 135 out of 135 | elapsed:  2.9min finished

The best parameters to use are:  {'learning_rate': 0.1, 'max_depth': 7, 'n_estimators': 100}

In [62]:
model_best_params.append(grid.best_params_)

In [63]:
# Tablero A
grid.fit(X_train_scaled, y_train["Tablero A"].values.reshape(-1,1))
model_best_params.append(grid.best_params_)
print('The best parameters to use are: ', grid.best_params_)

Fitting 3 folds for each of 45 candidates, totalling 135 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   35.0s
[Parallel(n_jobs=-1)]: Done 135 out of 135 | elapsed:  3.1min finished

The best parameters to use are:  {'learning_rate': 0.1, 'max_depth': 7, 'n_estimators': 100}

In [64]:
# Tablero B
grid.fit(X_train_scaled, y_train["Tablero B"].values.reshape(-1,1))
model_best_params.append(grid.best_params_)
print('The best parameters to use are: ', grid.best_params_)

Fitting 3 folds for each of 45 candidates, totalling 135 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   34.4s
[Parallel(n_jobs=-1)]: Done 135 out of 135 | elapsed:  3.1min finished

The best parameters to use are:  {'learning_rate': 0.3, 'max_depth': 7, 'n_estimators': 100}

In [65]:
# Tablero C
grid.fit(X_train_scaled, y_train["Tablero C"].values.reshape(-1,1))
model_best_params.append(grid.best_params_)
print('The best parameters to use are: ', grid.best_params_)

Fitting 3 folds for each of 45 candidates, totalling 135 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   33.8s
[Parallel(n_jobs=-1)]: Done 135 out of 135 | elapsed:  3.1min finished

The best parameters to use are:  {'learning_rate': 0.1, 'max_depth': 7, 'n_estimators': 100}

In [66]:
# Tablero D
grid.fit(X_train_scaled, y_train["Tablero D"].values.reshape(-1,1))
model_best_params.append(grid.best_params_)
print('The best parameters to use are: ', grid.best_params_)

Fitting 3 folds for each of 45 candidates, totalling 135 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   33.1s
[Parallel(n_jobs=-1)]: Done 135 out of 135 | elapsed:  3.0min finished

The best parameters to use are:  {'learning_rate': 0.1, 'max_depth': 7, 'n_estimators': 100}

In [67]:
#Tablero E
grid.fit(X_train_scaled, y_train["Tablero E"].values.reshape(-1,1))
model_best_params.append(grid.best_params_)
print('The best parameters to use are: ', grid.best_params_)

Fitting 3 folds for each of 45 candidates, totalling 135 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  25 tasks      | elapsed:   33.9s
[Parallel(n_jobs=-1)]: Done 135 out of 135 | elapsed:  3.0min finished

The best parameters to use are:  {'learning_rate': 0.1, 'max_depth': 7, 'n_estimators': 100}

In [75]:
model_best_params

[{'learning_rate': 0.1, 'max_depth': 7, 'n_estimators': 100},
 {'learning_rate': 0.1, 'max_depth': 7, 'n_estimators': 100},
 {'learning_rate': 0.3, 'max_depth': 7, 'n_estimators': 100},
 {'learning_rate': 0.1, 'max_depth': 7, 'n_estimators': 100},
 {'learning_rate': 0.1, 'max_depth': 7, 'n_estimators': 100},
 {'learning_rate': 0.1, 'max_depth': 7, 'n_estimators': 100}]

In [69]:
model_list_gbr= []
counter = 0
for column in devices_to_train:
    y = y_train[column].values.reshape(-1,1)
    gbr = GradientBoostingRegressor(max_depth = model_best_params[counter]["max_depth"],
                                    n_estimators = model_best_params[counter]["n_estimators"],
                                    learning_rate= model_best_params[counter]["learning_rate"]).fit(X_train_scaled, y)
    model_list_gbr.append(gbr)
    counter += 1
    print("\nModel for {}".format(column))
    print(gbr.score(X_train_scaled, y_train[column].values.reshape(-1,1)))
    print(gbr.score(X_test_scaled, y_test[column].values.reshape(-1,1)))

Model for Lavaloza
0.867300175461742
0.7906378857478108

Model for Tablero A
0.9764653068581749
0.9660979786445633

Model for Tablero B
0.8035740224345015
0.6302551767115341

Model for Tablero C
0.7538957923425903
0.6124463033744582

Model for Tablero D
0.802243252322689
0.7009134201337076

Model for Tablero E
0.9668880926139838
0.948679855198246

In [74]:
corr_df = model_df[["Tablero A", "Tablero B","Tablero C", "Tablero D", "Tablero E", "current(A)"]]
corr_df.corr()

            Tablero A  Tablero B  Tablero C  Tablero D  Tablero E  current(A)
Tablero A    1.000000  -0.013605   0.603723   0.449698   0.752307    0.817439
Tablero B   -0.013605   1.000000   0.045520   0.132123   0.044135    0.156328
Tablero C    0.603723   0.045520   1.000000   0.297510   0.493204    0.596429
Tablero D    0.449698   0.132123   0.297510   1.000000   0.612794    0.623004
Tablero E    0.752307   0.044135   0.493204   0.612794   1.000000    0.878084
current(A)   0.817439   0.156328   0.596429   0.623004   0.878084    1.000000

## Multilayer Perceptrons

In [79]:
param_grid = {'activation': ["relu", "tanh"],
              'hidden_layer_sizes': [[50, 50, 50, 50]]
             }
grid = GridSearchCV(MLPRegressor(), param_grid, verbose=3, n_jobs = -1)

In [80]:
model_best_params = []

In [81]:
# Lavaloza
grid.fit(X_train_scaled, y_train["Lavaloza"].values.reshape(-1,1))
model_best_params.append(grid.best_params_)
print('The best parameters to use are: ', grid.best_params_)

Fitting 3 folds for each of 2 candidates, totalling 6 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of   6 | elapsed:  1.6min remaining:  1.6min
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:  1.9min remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:  1.9min finished

The best parameters to use are:  {'activation': 'tanh', 'hidden_layer_sizes': [50, 50, 50, 50]}

In [ ]:
# Tablero A
grid.fit(X_train_scaled, y_train["Tablero A"].values.reshape(-1,1))
model_best_params.append(grid.best_params_)
print('The best parameters to use are: ', grid.best_params_)

In [82]:
# Tablero B
grid.fit(X_train_scaled, y_train["Tablero B"].values.reshape(-1,1))
model_best_params.append(grid.best_params_)
print('The best parameters to use are: ', grid.best_params_)

Fitting 3 folds for each of 2 candidates, totalling 6 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of   6 | elapsed:  2.3min remaining:  2.3min
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:  2.8min remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:  2.8min finished

The best parameters to use are:  {'activation': 'tanh', 'hidden_layer_sizes': [50, 50, 50, 50]}

In [83]:
# Tablero C
grid.fit(X_train_scaled, y_train["Tablero C"].values.reshape(-1,1))
model_best_params.append(grid.best_params_)
print('The best parameters to use are: ', grid.best_params_)

Fitting 3 folds for each of 2 candidates, totalling 6 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of   6 | elapsed:  2.1min remaining:  2.1min
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:  2.5min remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:  2.5min finished

The best parameters to use are:  {'activation': 'tanh', 'hidden_layer_sizes': [50, 50, 50, 50]}

In [84]:
# Tablero D
grid.fit(X_train_scaled, y_train["Tablero D"].values.reshape(-1,1))
model_best_params.append(grid.best_params_)
print('The best parameters to use are: ', grid.best_params_)

Fitting 3 folds for each of 2 candidates, totalling 6 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of   6 | elapsed:  2.3min remaining:  2.3min
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:  2.8min remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:  2.8min finished

The best parameters to use are:  {'activation': 'tanh', 'hidden_layer_sizes': [50, 50, 50, 50]}

In [85]:
#Tablero E
grid.fit(X_train_scaled, y_train["Tablero E"].values.reshape(-1,1))
model_best_params.append(grid.best_params_)
print('The best parameters to use are: ', grid.best_params_)

Fitting 3 folds for each of 2 candidates, totalling 6 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of   6 | elapsed:  1.5min remaining:  1.5min
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:  1.9min remaining:    0.0s
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:  1.9min finished

The best parameters to use are:  {'activation': 'tanh', 'hidden_layer_sizes': [50, 50, 50, 50]}

In [88]:
model_list_mlp= []
counter = 0
for column in y_train.columns:
    y = y_train[column].values.reshape(-1,1)
    mlp = MLPRegressor(activation = model_best_params[counter]["activation"],
                                    hidden_layer_sizes = model_best_params[counter]["hidden_layer_sizes"]).fit(X_train_scaled, y)
    model_list_mlp.append(mlp)
    counter += 1
    print("Model for {}".format(column))
    print(mlp.score(X_train_scaled, y_train[column].values.reshape(-1,1)))
    print(mlp.score(X_test_scaled, y_test[column].values.reshape(-1,1)))
    print("\n")

Model for Lavaloza
0.7883067094969667
0.7664395962940823


Model for Tablero A
0.9642324040067558
0.9609542357023863


Model for Tablero B
0.5833091563503268
0.5637300499647405


Model for Tablero C
0.6651404427827086
0.5836310334252517


Model for Tablero D
0.7185879975921012
0.6738848719114111

IndexError: list index out of range

In [92]:
y = y_train["Tablero E"].values.reshape(-1,1)
mlp = MLPRegressor(activation = model_best_params[5]["activation"],
                                    hidden_layer_sizes = model_best_params[counter]["hidden_layer_sizes"]).fit(X_train_scaled, y)

# Create CSV

In [95]:
features_predict = scaler.transform(model_df[features])

for device, model_mlp, model_gbr in zip(devices_to_train, model_list_mlp, model_list_gbr):
    model_df[device + "_pred_mlp"] = model_mlp.predict(features_predict)
    model_df[device + "_pred_gbr"] = model_gbr.predict(features_predict)
model_df

,timestamp,device_name,current(A),power_factor,temperature(°C),voltage(V),hour,minute,time,weekday,...,Tablero A_pred_mlp,Tablero A_pred_gbr,Tablero B_pred_mlp,Tablero B_pred_gbr,Tablero C_pred_mlp,Tablero C_pred_gbr,Tablero D_pred_mlp,Tablero D_pred_gbr,Tablero E_pred_mlp,Tablero E_pred_gbr
0,2018-01-04 07:00:00,Interruptor Principal,36.43,0.95,12.00,127.0,7,0,7.00,3,...,3.330976,1.013106,21.509257,19.672065,3.047945,3.576994,1.809254,1.954966,1.732249,1.755064
1,2018-01-04 07:15:00,Interruptor Principal,37.57,0.95,12.00,127.0,7,15,7.25,3,...,4.371762,0.985848,19.707644,19.672065,3.523957,3.929764,1.810041,1.954966,1.444563,1.609371
2,2018-01-04 07:30:00,Interruptor Principal,31.58,0.95,12.00,127.0,7,30,7.50,3,...,3.002654,0.800496,18.946326,19.799574,3.117753,2.864594,1.812792,1.913154,1.484630,1.897600
3,2018-01-04 07:45:00,Interruptor Principal,30.18,0.95,12.00,127.0,7,45,7.75,3,...,3.262910,0.976128,17.668379,19.601560,3.526848,2.471907,1.803346,1.866544,1.439598,1.902580
4,2018-01-04 11:00:00,Interruptor Principal,117.65,0.95,15.90,127.0,11,0,11.00,3,...,7.375878,8.149896,17.355874,16.424779,5.801446,4.821766,1.803647,2.966638,22.868988,33.890868
5,2018-01-04 11:15:00,Interruptor Principal,121.59,0.95,15.90,127.0,11,15,11.25,3,...,7.569564,8.242419,16.942450,16.275541,5.834322,4.864887,2.184155,2.966638,25.535364,40.003514
6,2018-01-04 11:30:00,Interruptor Principal,119.75,0.95,15.90,127.0,11,30,11.50,3,...,7.599322,8.279079,18.098484,15.499571,5.848631,4.864887,2.322822,2.969067,25.125342,36.017845
7,2018-01-04 11:45:00,Interruptor Principal,166.50,0.95,15.90,127.0,11,45,11.75,3,...,8.221876,7.924438,16.122137,13.154416,6.039793,4.964497,2.924555,6.201649,49.435613,52.926100
8,2018-01-04 12:00:00,Interruptor Principal,164.78,0.95,18.00,127.0,12,0,12.00,3,...,8.846422,8.679521,15.711536,13.267620,5.512211,5.333176,4.872987,5.776840,49.201059,55.803566
9,2018-01-04 12:15:00,Interruptor Principal,177.37,0.95,18.00,127.0,12,15,12.25,3,...,9.341663,9.304358,16.620681,15.420167,5.475685,5.498644,5.940335,9.552259,52.078856,57.090311
10,2018-01-04 12:30:00,Interruptor Principal,180.92,0.95,18.00,127.0,12,30,12.50,3,...,10.026755,9.635671,16.871108,12.676669,5.478520,5.606688,6.229419,9.747195,53.023060,54.970945
11,2018-01-04 12:45:00,Interruptor Principal,204.13,0.95,18.00,127.0,12,45,12.75,3,...,10.820850,10.994589,17.164156,15.039951,5.472709,6.153898,8.295288,19.432207,57.824392,79.478081
12,2018-01-04 13:00:00,Interruptor Principal,216.67,0.95,19.20,127.0,13,0,13.00,3,...,11.226170,11.788795,17.180000,14.335730,5.595200,5.910127,8.858239,18.541769,60.102107,91.057132
13,2018-01-04 13:15:00,Interruptor Principal,196.74,0.95,19.20,127.0,13,15,13.25,3,...,11.584489,11.762284,17.317890,12.461357,5.477927,5.542419,8.448378,17.306080,56.583004,74.830765
14,2018-01-04 13:30:00,Interruptor Principal,205.58,0.95,19.20,127.0,13,30,13.50,3,...,11.696679,11.788795,17.340035,14.365026,5.495371,5.607176,8.982824,19.461805,58.159293,79.132670
15,2018-01-04 13:45:00,Interruptor Principal,220.73,0.95,19.20,127.0,13,45,13.75,3,...,11.728235,11.788795,17.385314,17.938663,5.533938,6.150223,8.686244,19.141036,60.380494,81.316022
16,2018-01-04 14:00:00,Interruptor Principal,208.96,0.95,20.80,127.0,14,0,14.00,3,...,11.726760,11.755107,17.684036,16.408749,5.913861,5.362369,8.915821,19.178973,58.912080,80.941885
17,2018-01-04 14:15:00,Interruptor Principal,223.55,0.95,20.80,127.0,14,15,14.25,3,...,11.708119,11.752261,17.769711,17.891327,6.108187,5.512620,9.020948,19.071775,60.947726,83.508264
18,2018-01-04 14:30:00,Interruptor Principal,206.84,0.95,20.80,127.0,14,30,14.50,3,...,11.695800,11.752261,17.599660,15.284768,5.846773,5.478644,9.197577,20.554552,58.457721,81.651069
19,2018-01-04 14:45:00,Interruptor Principal,221.34,0.95,20.80,127.0,14,45,14.75,3,...,11.694063,11.752261,17.725623,17.920657,5.937398,5.790407,8.505336,21.172450,60.477325,82.257025
20,2018-01-04 15:00:00,Interruptor Principal,210.51,0.95,22.30,127.0,15,0,15.00,3,...,11.590430,11.768418,17.870344,14.300911,6.552605,5.914850,8.434741,21.651563,58.882332,81.715507
21,2018-01-04 15:15:00,Interruptor Principal,181.76,0.95,22.30,127.0,15,15,15.25,3,...,11.600342,11.726907,16.502933,12.376655,5.745852,5.626594,7.591851,16.320600,53.196626,75.199805
22,2018-01-04 15:30:00,Interruptor Principal,197.76,0.95,22.30,127.0,15,30,15.50,3,...,11.585411,11.754069,17.306662,13.381691,6.031637,5.827756,8.151574,19.551651,56.836232,81.730830
23,2018-01-04 15:45:00,Interruptor Principal,198.58,0.95,22.30,127.0,15,45,15.75,3,...,11.572771,11.768418,17.249505,13.394158,5.952583,5.603485,8.182392,19.732717,57.131306,84.670547
24,2018-01-04 16:00:00,Interruptor Principal,251.36,0.95,23.40,127.0,16,0,16.00,3,...,11.446336,11.804019,18.926016,18.877696,8.002323,6.546842,7.675001,22.845185,64.335270,84.564977
25,2018-01-04 16:15:00,Interruptor Principal,210.45,0.95,23.40,127.0,16,15,16.25,3,...,11.415424,11.776256,17.521050,16.670092,6.064074,5.521831,7.871711,20.748630,58.275655,81.643643
26,2018-01-04 16:30:00,Interruptor Principal,211.26,0.95,23.40,127.0,16,30,16.50,3,...,11.426249,11.753901,17.466892,19.844661,6.029244,5.541590,7.847001,20.745795,58.433821,80.773907
27,2018-01-04 16:45:00,Interruptor Principal,182.66,0.95,23.40,127.0,16,45,16.75,3,...,11.402034,11.712390,15.558681,13.065431,5.655843,5.343928,6.646436,13.297396,53.679639,71.173656
28,2018-01-04 17:00:00,Interruptor Principal,236.39,0.95,24.40,127.0,17,0,17.00,3,...,11.464395,11.753901,17.820681,16.729508,5.908299,5.778602,7.322429,21.406786,62.035217,79.639128
29,2018-01-04 17:15:00,Interruptor Principal,292.75,0.95,24.40,127.0,17,15,17.25,3,...,11.531283,11.818767,19.368895,15.272820,8.598111,9.359641,20.223456,22.889550,92.636667,91.471555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56360,2019-12-08 04:15:00,Interruptor Principal,0.00,0.00,15.00,0.0,4,15,4.25,6,...,-0.019849,-0.005845,-0.079813,-0.195407,0.262429,0.162410,0.698901,0.039829,0.371497,-0.189533
56361,2019-12-08 04:30:00,Interruptor Principal,0.00,0.00,15.00,0.0,4,30,4.50,6,...,0.009673,-0.005845,-0.079900,-0.170770,0.260303,0.104022,0.423712,0.043564,0.362343,-0.189533
56362,2019-12-08 04:45:00,Interruptor Principal,0.00,0.00,15.00,0.0,4,45,4.75,6,...,0.100837,-0.005845,-0.071947,-0.170770,0.259670,0.117482,0.218913,0.109693,0.355966,-0.189533
56363,2019-12-08 05:00:00,Interruptor Principal,0.00,0.00,13.92,0.0,5,0,5.00,6,...,-0.348620,0.014976,-0.102108,0.183551,0.594028,-0.028898,1.027241,0.225437,0.388611,0.069627
56364,2019-12-08 05:15:00,Interruptor Principal,0.00,0.00,13.92,0.0,5,15,5.25,6,...,-0.167327,0.014976,-0.099066,0.222137,0.607987,-0.084024,1.218148,0.225437,0.377970,0.069627
56365,2019-12-08 05:30:00,Interruptor Principal,0.00,0.00,13.92,0.0,5,30,5.50,6,...,0.065634,0.014976,-0.089021,0.235573,0.623920,-0.084024,1.409410,0.229172,0.370238,0.069627
56366,2019-12-08 05:45:00,Interruptor Principal,0.00,0.00,13.92,0.0,5,45,5.75,6,...,0.122796,0.014976,-0.071155,0.235573,0.641243,-0.107812,1.278356,0.231264,0.364843,0.069627
56367,2019-12-08 06:00:00,Interruptor Principal,0.00,0.00,13.94,0.0,6,0,6.00,6,...,-0.264577,0.014976,-0.108917,0.162364,0.708075,-0.109575,0.770303,0.225437,0.389046,0.069627
56368,2019-12-08 06:15:00,Interruptor Principal,0.00,0.00,13.94,0.0,6,15,6.25,6,...,-0.142991,0.023974,-0.101654,0.222137,0.695856,-0.107206,0.574453,0.225437,0.380081,0.069627
56369,2019-12-08 06:30:00,Interruptor Principal,0.00,0.00,13.94,0.0,6,30,6.50,6,...,-0.000158,0.009361,-0.088562,0.282345,0.685289,-0.107206,0.427852,0.229172,0.373522,0.069627
56370,2019-12-08 06:45:00,Interruptor Principal,0.00,0.00,13.94,0.0,6,45,6.75,6,...,0.098842,0.009361,-0.068602,0.226606,0.683440,-0.093746,0.455376,0.231264,0.368971,0.069627
56371,2019-12-08 07:00:00,Interruptor Principal,0.00,0.00,14.10,0.0,7,0,7.00,6,...,0.051363,0.008875,-0.106940,-0.077228,0.812187,0.045915,0.703908,0.068142,0.390735,-0.101368
56372,2019-12-08 07:15:00,Interruptor Principal,0.00,0.00,14.10,0.0,7,15,7.25,6,...,0.081010,0.002536,-0.098579,-0.017455,0.780640,-0.048186,0.454509,0.068142,0.382984,-0.101368
56373,2019-12-08 07:30:00,Interruptor Principal,0.00,0.00,14.10,0.0,7,30,7.50,6,...,0.096188,-0.011133,-0.085005,-0.004019,0.760178,-0.048186,0.195952,0.071876,0.377284,-0.101368
56374,2019-12-08 07:45:00,Interruptor Principal,0.00,0.00,14.10,0.0,7,45,7.75,6,...,0.109352,-0.003441,-0.064954,-0.004019,0.766613,-0.034727,-0.039861,0.073969,0.373371,-0.101368
56375,2019-12-08 08:00:00,Interruptor Principal,0.00,0.00,15.21,0.0,8,0,8.00,6,...,0.077641,-0.005930,-0.113069,-0.012317,0.742460,-0.029208,0.134969,0.093949,0.387367,-0.189533
56376,2019-12-08 08:15:00,Interruptor Principal,0.00,0.00,15.21,0.0,8,15,8.25,6,...,0.091495,-0.048478,-0.106205,-0.084361,0.637898,-0.021895,-0.109409,0.093949,0.380815,-0.189533
56377,2019-12-08 08:30:00,Interruptor Principal,0.00,0.00,15.21,0.0,8,30,8.50,6,...,0.110931,-0.043371,-0.094737,-0.481911,0.393822,0.026005,-0.331623,0.097684,0.375992,-0.189533
56378,2019-12-08 08:45:00,Interruptor Principal,0.00,0.00,15.21,0.0,8,45,8.75,6,...,0.137230,0.171148,-0.077475,-0.534073,0.091647,0.039465,-0.506884,0.099776,0.372740,-0.189533
56379,2019-12-08 09:00:00,Interruptor Principal,0.00,0.00,14.09,0.0,9,0,9.00,6,...,-0.344589,0.340568,-0.092882,0.065097,0.520614,0.004790,0.366167,-0.000268,0.401136,-0.039796
56380,2019-12-08 09:15:00,Interruptor Principal,0.00,0.00,14.09,0.0,9,15,9.25,6,...,-0.271120,0.402638,-0.083036,-0.483525,0.390648,0.028839,0.106447,-0.000268,0.394487,-0.039796
56381,2019-12-08 09:30:00,Interruptor Principal,0.00,0.00,14.09,0.0,9,30,9.50,6,...,-0.196776,0.402638,-0.067250,-0.470089,0.088026,0.028839,-0.129101,0.003467,0.389579,-0.039796
56382,2019-12-08 09:45:00,Interruptor Principal,0.00,0.00,14.09,0.0,9,45,9.75,6,...,-0.121158,0.402638,-0.043717,-0.470089,0.004843,0.022818,-0.326212,0.005559,0.386327,-0.039796
56383,2019-12-08 10:00:00,Interruptor Principal,0.00,0.00,16.21,0.0,10,0,10.00,6,...,-0.136641,0.245929,-0.106821,-1.424188,0.231404,0.001964,-0.221597,-0.123385,0.391151,-0.189533
56384,2019-12-08 10:15:00,Interruptor Principal,0.00,0.00,16.21,0.0,10,15,10.25,6,...,-0.135853,0.245929,-0.098979,-1.496232,0.020802,0.052233,-0.397166,-0.164955,0.385799,-0.189533
56385,2019-12-08 10:30:00,Interruptor Principal,0.00,0.00,16.21,0.0,10,30,10.50,6,...,-0.121263,0.245929,-0.086079,-1.482795,-0.063397,0.052233,-0.533806,-0.161221,0.381894,-0.080099
56386,2019-12-08 10:45:00,Interruptor Principal,0.00,0.00,16.21,0.0,10,45,10.75,6,...,-0.093596,0.059364,-0.066728,-1.482795,-0.135488,-0.061633,-0.638524,-0.159128,0.379413,-0.080099
56387,2019-12-08 11:00:00,Interruptor Principal,0.00,0.00,18.00,0.0,11,0,11.00,6,...,-0.122545,0.013254,-0.112999,-0.259990,0.086486,-0.099569,-0.371536,-0.182314,0.384008,0.105714
56388,2019-12-08 11:15:00,Interruptor Principal,0.00,0.00,18.00,0.0,11,15,11.25,6,...,-0.149833,0.013254,-0.107526,-0.332034,0.057104,-0.082838,-0.446218,-0.182314,0.379620,0.105714
56389,2019-12-08 11:30:00,Interruptor Principal,0.00,0.00,18.00,0.0,11,30,11.50,6,...,-0.160361,0.013254,-0.097727,-0.318598,-0.007928,-0.082838,-0.503008,-0.178579,0.376486,0.105714

In [96]:
model_df.to_csv("predicciones.csv")

In [ ]:
model_list_mlp

In [ ]:
features